@import "../../App.css";

.profile-hero-cont {
    width: 100%;
}

.profile-hero-background-edit {
    position: relative;
    height: 35px;
    width: 35px;
    fill: white;
    top: 20px;
    left: 85%;
    margin-bottom: -35px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
}

.profile-hero-background-edit:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.profile-hero-background-img {
    width: 100%;
    max-height: 250px;
    border-radius: 8px 8px 0 0 ;
}

.profile-hero-profile-img-cont {
    display: unset;
    background-color: var(--secondary-color);
    position: relative;
    bottom: 90px;
    left: 30px;
    margin-bottom: -85px;
}

.profile-hero-profile-img {
    border: var(--primary-color) 4px solid;
}

.profile-hero-user-picture-edit {
    position: absolute;
    left: 3px;
    top: 3px;
    fill: none;
    border-radius: 50%;
    padding: 30px;
    width: 114px;
    height: 114px;

}

.profile-hero-user-picture-edit:hover {
    fill: var(--primary-color);
    background-color: rgb(0, 0, 0, .5);
}

.profile-hero-user-info-edit {
    height: 35px;
    width: 35px;
    position: absolute;
    margin-bottom: -40px;
    left: 85%;
    padding: 5px;
    border-radius: 50%;
}

.profile-hero-user-info-edit:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    fill: white;
}

.profile-hero-user-cont {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.profile-hero-user-info-cont {
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 15px;
    gap: .75rem;
    border-radius: 0 0 15px 15px;
}

.profile-hero-user-name-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-hero-user-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-hero-divide {
  width: 1px;
  border-left: 1px solid var(--grey-color-1);
  height: 90%;
  display: flex;
  align-self: end;
}

.profile-hero-performer-type {
    color: var(--grey-color-1);
    font-size: 1.5rem;
}

.profile-hero-contact-cont {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.profile-hero-location {
    color: var(--grey-color-1);
}

.profile-hero-contact {
    color: var(--primary-color);
    font-weight: bold;
}

.profile-hero-contact:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile-hero-connections {
    color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: bold;
}

.profile-hero-connections:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile-hero-mutual-connections-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-hero-mutual-connections-imgs {
  display: flex;
}

.profile-hero-mutual-connection-img {
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.profile-hero-mutual-connection-img.overlap {
    margin-left: -10px;
}

.profile-hero-mutual-connections-names>a {
    text-decoration: none;
    color: var(--grey-color-1);
    font-size: 0.75rem;
}

.profile-hero-mutual-connections-names>a:hover {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
}

.profile-hero-user-digital-footprint>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.25rem;
    padding: 5px;
}

.digital-footprint-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



/* expanded edit profile */

  .edit-profile-hero-background {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .edit-profile-hero-background>img {
    min-width: 500px;
    max-height: 250px;
  }
  
  .edit-profile-hero-background>form {
    align-self: center;
  }

  .edit-profile-hero-pic {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .edit-profile-hero-pic>img {
    max-width: 500px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 6px solid var(--primary-color)
  }

  .profile-image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden-image-input {
    display: none;
  }

  .edit-profile-hero-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .edit-profile-hero-form-item {
      display: flex;
      align-items: center;
  }

  .edit-profile-hero-form-item>p {
      width: 120px;
  }

  .edit-profile-hero-form-item>input {
      height: 2rem;
      border: 2px solid var(--primary-color);
      padding: 0 15px 0 15px;
      border-radius: 15px;
      width:300px;
  }

  .edit-profile-social-label {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-items: left;
      width: 120px;
  }