@import "../../App.css";

.profile-experience-cont {
    width: 100%;
}

.profile-experience-header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.profile-experience-items-cont {
    padding: 5px 15px 5px 15px;
    border-top: 2px solid var(--grey-color-1);
}

.profile-experience-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 2px var(--grey-color-1) solid;
    padding: 0.5rem 0 0.5rem 0;
}

.profile-experience-item:last-child {
    border-bottom: none;
}

.profile-experience-item-img {
    height: 4rem;
}

.profile-experience-item-info-cont {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.profile-experience-item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.profile-experience-item-title {
    font-weight: bold;
}

.profile-experience-item-venue {
    font-size: 0.75rem;
}

.profile-experience-item-duration-cont {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.profile-experience-item-location {
    font-size: 0.75rem;
}

.profile-experience-show-all-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-top: solid 2px var(--grey-color-1);
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.profile-experience-show-all-experience:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

