@import "../../App.css";

.profile-activity-cont {
    width: 100%;
}

.profile-activity-header-left {
    display: flex;
    flex-direction: column;
}

.profile-activity-header-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.profile-activity-header-followers {
    font-size: 0.75rem;
    color: white;
}

.profile-activity-header-right {
    display: flex;
    align-items: center;
}

.profile-activity-posts-cont {
    padding: 5px 15px 5px 15px;
    border-top: 2px solid var(--grey-color-1)
}

.profile-activity-post-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    border-bottom:  var(--grey-color-1) solid 2px;
}

.profile-activity-post-item:last-child {
    border-bottom: none;
}

.profile-activity-post-info {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: var(--primary-color);
}

.profile-activity-post-author {
    font-weight: bold;
}

.profile-activity-post {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-activity-post:hover {
    cursor: pointer;
}

.profile-activity-post-img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 15px;
}

.profile-activity-post-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-activity-post-title {
    font-weight: bold;
}

.profile-activity-post-about {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--grey-color-1);
}

.profile-activity-post-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.profile-activity-post-like-img {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--primary-color);
    transition: all 0.5s ease-in-out;
    border: var(--primary-color) 2px solid;
    border-radius: 50%;
    padding: 0.1rem;
}

.profile-activity-post-like-img:hover {
    height: 2rem;
    width: 2rem;
    bottom: 0.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    fill: white;
}

.profile-activity-show-all {
    text-align: center;
    border-top: var(--grey-color-1) 2px solid;
    padding: 15px 15px 15px 15px;
    border-radius: 0 0 8px 8px;
    font-weight: bold;
}

.profile-activity-show-all:hover {
    background-color: var(--primary-color);
    color: var(--background-comp-color);
    cursor: pointer;
}

/* expanded start post */

  .start-post-user-form {
      width: 100%;
      display: flex;
      flex-direction: column;

  }

  .start-post-user-cont {
      display: flex;
      width: 100%;
      justify-content: left;
      align-items: center;
      gap: 1rem;
  }

  .add-post-visibility-img {
      height: 35px;
      fill: var(--primary-light-color);
  }

  .start-post-visibility {
      padding: 0.2rem 0rem;
      border-radius: 0.8rem;
  }

  .start-post-textarea {
      border: none;
      font-size: 1.25rem;
      padding: 5px;
  }

  .start-post-textarea:focus {
      border: none;
      outline: none;
  }

  .start-post-emoji-hashtag-cont {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      padding: 0.25rem;
  }

  .start-post-add-emoji {
      height: 35px;
      width: 35px;
      fill: var(--secondary-color);
  }

  .start-post-add-emoji:hover {
      cursor: pointer;
      background-color: var(--primary-color);
      fill: white;
      border-radius: 50%;
  }

  .start-post-add-hashtag {
      font-size: 1.25rem;
      font-weight: bold;
  }

  .start-post-add-hashtag:hover {
      color: var(--primary-color);
      cursor: pointer;
  }

  .start-post-foot {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      border-top: 2px solid var(--grey-color-1);
      border-radius: 0px 0px 8px 8px;
      padding: 5px 15px 5px 15px;
      background-color: var(--primary-light-color);
  }

  .start-post-foot-multimedia-cont {
      display: flex;
      flex-direction: row;
  }

  .start-post-foot-multimedia-item {
      cursor: pointer;
      fill: white;
      height: 35px;
  }

  .start-post-foot-multimedia-item:hover {
      fill: var(--primary-color)
  }

  .start-post-foot-img {
      fill: white;
      height: 35px;
  }

  .start-post-foot-submit-cont {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 0.75rem;
      gap:0.25rem;
      align-items: center;
      border-left: solid 2px var(--grey-color-1);
  }

  .start-post-foot-submit-cont>select, .start-post-user-cont>select {
    font-size: 1.25rem;
    border: solid 2px var(--primary-color);
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
  }
  
  .post-edit {
    background-color: var(--background-comp-color);
    border: none;
    color: var(--grey-color-1);
    cursor: pointer;
    font-size: smaller;
  }
  
  .post-edit:hover {
    color: var(--grey-color-2);
  }