.profile-analytics-cont {
    width: 100%;
    padding: 5px 15px 15px 15px;
    display: flex;
    gap: 10px;
}

.profile-analytics-header {
    font-size: 1.5rem;
}

.profile-analytics-items-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    cursor: pointer;
}

.profile-analytics-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.profile-analytics-item:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.profile-analytics-item-img {
    height: 2rem;
    color: inherit;
    fill: inherit;
}

.profile-analytics-type {
    font-weight: bold;
}

.profile-analytics-description {
    font-size: 0.75rem;
}