@import "../../App.css";

.profile-about-cont {
    width: 100%;
}

.profile-about-title-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    border-radius: 8px 8px 0 0;
    color: white;
    background-color: var(--primary-light-color);
}

.profile-about-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-about-text-cont {
  border-top: 2px solid var(--grey-color-1);
  padding: 5px 15px 15px 15px;
}

/* expanded edit about section */


  .edit-profile-about-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .edit-profile-about-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    background-color: var(--background-color);
    border-radius: 0 0 8px 8px;
  }

  .edit-profile-about-explanation {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--secondary-color)
  }

  .edit-profile-about-text-area {
    border: var(--primary-color) 2px solid;
    border-radius: 8px;
    padding: 5px;
  }