@import url("../../App.css");

.profile-explore-cont {
  width: 100%;
  display: flex;
  gap: 5px;
}

.profile-explore-cont>h2 {
  color: white;
  background-color: var(--primary-light-color);
  margin: 0;
  text-align: center;
  padding: 5px 15px;
  border-radius: 8px 8px 0 0;
  font-size: 1.25rem;
}

.profile-info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--grey-color-0);
  padding: 5px;
  }

  .profile-info-cont:last-child {
    border-bottom: none;
  }

.profile-info-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
}