.skill-cont {
    display: flex;
    flex-direction: column;
  }

  .skills-header-title {
    font-size: 1.5rem;
    color: white;
  }
  
  .content-endorse-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .skills-cont {
    padding: 5px 15px 5px 15px;
    border-top: 2px solid var(--grey-color-1);
    width: 100%;
  }

/* expanded add skill overlay */

.add-skill-form {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 0 0 8px 8px;
}

.add-skill-form-item {
  padding: 15px 15px 0px 15px;
}

.add-skill-form-item>select {
  font-size: 1.25rem;
  border: solid 2px var(--primary-color);
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
}

.edit-skills-cont {
  width: 100%;
  padding: 5px 10px 5px 10px;
  background-color: var(--background-color);
}

.edit-skill-cont {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--secondary-color);
  border-bottom: 2px solid var(--grey-color-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-skill-cont:last-child {
  border-bottom: none;
}