@import "../../App.css";

.profile-hero-cont {
    width: 100%;
}

.profile-hero-background-edit {
    position: relative;
    height: 35px;
    width: 35px;
    fill: white;
    top: 20px;
    left: 85%;
    margin-bottom: -35px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
}

.profile-hero-background-edit:hover {
    cursor: pointer;
    background-color: var(--grey-color-0);
}

.profile-hero-background-img {
    width: 100%;
    max-height: 250px;
    border-radius: 8px 8px 0 0 ;
}

.profile-hero-profile-img {
    border: var(--primary-color) 4px solid;
    background-color: var(--secondary-color);
    position: relative;
    bottom: 90px;
    left: 30px;
    margin-bottom: -6rem;
}

.profile-hero-user-info-edit {
    height: 35px;
    width: 35px;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px;
    left: 85%;
    padding: 5px;
    border-radius: 50%;
}

.profile-hero-user-info-edit:hover {
    cursor: pointer;
    background-color: var(--grey-color-0);
}

.profile-hero-user-cont {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.profile-hero-user-info-cont {
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 15px;
    gap: .75rem;
    border-radius: 0 0 15px 15px;
}

.profile-hero-user-name-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-hero-user-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-hero-divide {
  width: 1px;
  border-left: 1px solid var(--grey-color-1);
  height: 90%;
  display: flex;
  align-self: end;
}

.profile-hero-performer-type {
    color: var(--grey-color-1);
    font-size: 1.5rem;
}

.profile-hero-contact-cont {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.profile-hero-location {
    color: var(--grey-color-1);
}

.profile-hero-contact {
    color: var(--primary-color);
    font-weight: bold;
}

.profile-hero-contact:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile-hero-connections {
    color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: bold;
}

.profile-hero-connections:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile-hero-mutual-connections-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-hero-mutual-connections-imgs {
  display: flex;
}

.profile-hero-mutual-connection-img {
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.profile-hero-mutual-connection-img.overlap {
    margin-left: -10px;
}

.profile-hero-mutual-connections-names>a {
    text-decoration: none;
    color: var(--grey-color-1);
    font-size: 0.75rem;
}

.profile-hero-mutual-connections-names>a:hover {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
}

.profile-hero-user-digital-footprint>div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
}

.profile-hero-user-digital-footprint-item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 5fr;
    align-items: center;
    gap: 0.5rem;
    color: var(--grey-color-2);
    padding: 0.5rem;
    border-radius: 25px;
}



.profile-hero-user-digital-footprint-img {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.profile-hero-user-digital-footprint-username {
    font-weight: bold;
    font-size: .75;
}

.profile-her-user-digital-footprint-follower-img {
    max-height: 1.5rem;
}

.profile-hero-user-digital-footprint-item:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

/* expanded edit profile */

  .edit-profile-hero-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0 0 0;
    width: 100%;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0 0 8px 8px;
    color: var(--secondary-color);
    font-weight: bold;
  }

  .edit-profile-hero-form-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 85%;
    gap: 10px;
  }

  .edit-profile-social-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      height: 1rem;
  }

  .edit-profile-hero-background {
    display: flex;
    gap: 2rem;
  }
  
  .edit-profile-hero-background>img {
    min-width: 500px;
    max-height: 250px;
  }
  
  .edit-profile-hero-background>form {
    align-self: center;
  }
  
  .edit-profile-hero-pic>img {
    max-width: 500px;
  }