@import "../../App.css";

.profile-resources-cont {
    width: 100%;
}

.profile-resources-header {
    padding: 15px 0 5px 15px
}

.profile-resources-items-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-resources-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 2px solid var(--grey-color-1);
    padding: 10px 15px
}

.profile-resources-item:hover {
    cursor: pointer;
}

.profile-resources-item-img {
    height: 35px;
}

.profile-resources-item-type {
    font-weight: bold;
}

.profile-resources-item-type:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.profile-resources-item-description {
    font-size: 0.75rem;
}

.profile-resources-show-all {
    font-weight: bold;
    text-align: center;
    border-top: 2px solid var(--grey-color-1);
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.profile-resources-show-all:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}