@import url("../../App.css");

.awards-header-title {
  font-size: 1.5rem;
  color: white;
}

.awards-cont {
  border-top: solid 2px var(--grey-color-1);
  padding: 5px 15px 5px 15px;
}

.award-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* expanded overlay */
