.network-manage-cont {
    width: 30vw;
    margin: 1rem 10vw;
}

.network-manage-items-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.network-manage-item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.network-manage-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.network-manage-item-img {
    height: 1.5rem;
}

.network-manage-item-count {
    display: flex;
    justify-content: right;
}