.network-manage-items-cont {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.network-manage-items-cont:hover {
  background-color: var(--grey-color-0);
}

.network-manage-item-img {
    height: 1.5rem;
}

.network-manage-item-count {
    display: flex;
    justify-content: right;
}

.network-connection-cont {
  width: 100%;
}

.network-connection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
}
