.messages-select-content-cont {
  display: flex;
  min-height: 100vh;
}

.user-messages-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.user-message-cont {
  padding: 1rem;
  width: 90%;
}

.messages-content-cont {
  width: 70%;
  max-height: 90vh;
}

.message-preview {
  color: var(--grey-color-1);
}

.message-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.self-align {
  justify-content: flex-start;
  background-color: #d5e4ff;
}

.recieve-align {
  justify-content: flex-end;
  background-color: #d7fff2;
}

.messages-select-cont {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.messages-cont {
  display: flex;
  min-height: 90vh;
}

.messages-select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-search-icon {
  cursor: pointer;
}

.message-search-icon:hover {
  color: var(--primary-color);
}

.message-display {
  overflow-y: scroll;
  max-height: 80%;
}

.message-display>ul {
  height:fit-content;
}

.message-info-cont {
  max-height: 100%;
}
/* search-contact */
.message-search-result {
  cursor: pointer;
}
