.messages-select-content-cont {
  display: flex;
  min-height: 100vh;
}

.user-messages-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.user-message-cont {
  padding: 1rem;
  width: 90%;
}

.messages-content-cont {
  width: 70%;
  max-height: 90vh;
  margin: 1rem;
}

.message-preview {
  color: var(--grey-color-1);
}

.message-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.message-cont>li {
  padding: 0 1rem;
}

.self-align {
  justify-content: flex-start;
  background-color: #d5e4ff;
}


.recieve-align {
  justify-content: flex-end;
  background-color: #d7fff2;
}

.messages-select-cont {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.messages-cont {
  display: flex;
  min-height: 90vh;
  background-color: var(--background-color);
}

.messages-select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-search-icon {
  cursor: pointer;
}

.message-search-icon:hover {
  color: var(--primary-color);
}

.message-display {
  overflow-y: scroll;
  max-height: 80%;
}

.message-display>ul {
  height:fit-content;
  margin-right: 1rem;
}

.message-info-cont {
  max-height: 100%;
}

.message-form {
  display: flex;
  justify-content: flex-end;
}

.message-form>input {
  width: 80%;
  border-radius: 9px;
}
.message-button {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-radius: 9px;
}
/* search-contact */
.message-search-result {
  cursor: pointer;
}
