 .profile-page {
    display: grid;
    grid-template-columns: 6fr 2fr;
    width: 70rem;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-page-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media all and (max-width: 430px) {
  .profile-page {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}