.error-cont {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
  padding: 2rem;
  border-radius: 124px;
  border: 3px solid var(--error-color);
  background-color: var(--background-comp-color);
  color: var(--error-color);
  opacity: 1;
  animation: errorDisplay 0.3s ease-in-out;
}

.error-cont>p {
  font-size: 18px;
  font-weight: 700;
}

@keyframes errorDisplay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
