.header-cont {
    display: grid;
    grid-template-columns: 6fr 1fr;
    border: solid black 1px;
    height: 4rem;
    padding: 0 2rem 0 2rem;
    align-items: center;
}

.header-nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: solid black 1px;
}

.header-nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.header-cont-logo {
    background-color: darkred;
    color: white;
    padding: .25rem;
    border-radius: 15%;
    font-size: 1.25rem;
    font-weight: bold;
}

.header-cont-search {
    display: flex;
    background-color: lightgray;
    align-items: center;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
}

.header-cont-search>img {
    height: 1rem;
}

.header-cont-search>input {
    text-decoration: none;
    background-color: unset;
    border: none;
    color: black;
}

.header-cont-search>input {
    outline: none;
}

.header-nav-right {
    display: flex;
    flex-direction: row;
}

.header-nav-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.header-nav-btn {
    font-size: .5rem;
    padding: 0.25rem;
}

.header-nav-btn>a {
    text-decoration: none;
    color: black;
}

.header-nav-btn:hover {
    background-color: lightgray;
    border-radius: 15px;
}

.header-nav-img {
    height: 1.5rem;
}

.header-nav-profile-pic {
    height: 1.5rem;
    border-radius: 50%;
}