/* common styles */
.home-comp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 9px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),
              0 2px 1px -1px rgba(0,0,0,0.12),
              0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 8px;
}

.profile-picture-small {
  border-radius: 124px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.profile-picture-medium {
  border-radius: 124px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

h2 {
  font-size: 1.1rem;
  text-align: start;
  margin: 0.25rem 0;
}

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 150px);
  background-color: #fff7f7;
  grid-gap: 0.5rem;
  width: 60%;
  margin-top: 1rem;
}

.page-cont {
  background-color: #fff7f7;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* post */
.home-post-cont {
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 1 / 1;
}

.post-button-cont {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  gap: 0.5rem;
}

.start-post-btn {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  border: 1px solid #212121;
  background-color: #ffffff;
  border-radius: 22px;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  cursor: pointer;
  text-align: start;
}

.start-post-btn:hover {
  background-color: #dddddd;
}

.specific-post-cont {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  padding: 8px;
}

.post-option-btn {
  font-size: 14px;
  font-weight: 500;
  color: #8b0000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 8px;
  width: 20%;
  padding: 8px;
  border-radius: 10px;
}

.post-option-btn:hover {
  background-color: rgba(0,0,0,0.1);
}

/* news */
.home-news-cont {
  grid-column: 4 / 4;
  grid-row: 1 / 3;
}

.news-list-cont {
  cursor: pointer;
  border-radius: 8px;
  padding: 0 8px;
}

.news-list-cont:hover {
  background-color: #dddddd;
}
.news-list-cont>li {
  font-weight: 700;
  margin-right: 16px;
  font-size: 0.8rem;
}

.news-list-cont>p {
  margin-top: 0;
  color: rgb(145, 145, 145);
  font-size: 0.7rem;
}

/* advertisement */
.home-ad-cont {
  align-items: center;
}

.ad-info-cont {
  font-size: 0.8rem;
  font-weight: 300;
  align-self: flex-end;
}

.ad-sub-heading {
  font-size: 0.8rem;
  font-weight: 300;
  color:rgb(64, 64, 64);
  text-align: center;
}

.ad-content-cont {
  display: flex;
  gap: 1rem;
}

.ad-cta {
  width: 80%;
}

.home-ad-cont>button {
  border-radius: 124px;
  border: 2px solid #a80101;
  color: #a80101;
  background-color: #ffffff;
  height: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.home-ad-cont>button:hover {
  border: 4px solid #8b0000;
  background-color: #faf1f1;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-links-cont a {
  color: grey;
  text-decoration: none;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

.footer-links-cont a:hover {
  color: #8b0000;
  text-decoration: underline;
}

.link {
  display: flex;
  justify-content: center;
}

.company-details-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.company-details-cont>.header-cont-logo {
  height: fit-content;
  width: fit-content;
}

/* feed */
.home-feed-cont {
  grid-column: 2 / 4;
}

.profile-info-cont {
  display: flex;
  gap: 0.25rem;
}

.profile-text-info-cont>p {
  margin: 0;
}

.profile-name {
  font-weight: 700;
}

.profile-tag {
  color: rgb(145, 145, 145);
  font-size: 0.8rem;
}
