@import "../../App.css";

.home {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  background-color: var(--background-color);
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  width: 70rem;
  margin-top: 1rem;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-center {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.home-feed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}