.network-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  background-color: var(--background-color);
  min-height: 95vh;
  grid-template-rows: 1fr 1fr;
}

.manage-network-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-card-cont {
  justify-self: center;
}

@media all and (max-width: 430px) {
  .network-cont {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 4rem 1rem;
    background-color: var(--background-color);
    min-height: 100vh;
  
  }

  .manage-network-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  
  .profile-card-cont {
    justify-self: unset;
  }
  

}