.home-feed-main-cont {
    padding: 8px;
    min-height: 220px;
}

.home-feed-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.home-feed-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.home-feed-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.home-feed-bottom>p {
    width: 80%;
    border-radius: 8px;
    padding: 5px;
}

.profile-feed-post-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.profile-feed-post-name {
    font-weight: bold;
}

.profile-feed-post-tagline{
    font-size: .75rem;
    color: var(--grey-color-1);
}

.profile-feed-info-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 5px
}

.profile-feed-info-cont>p {
    font-size: .75rem;
}

.profile-feed-name {
    font-weight: bold;
    padding-right: 5px;
}

.profile-feed-tagline {
    padding-right: 5px
}

.profile-feed-post-date{
    font-size: .75rem;
    width:100%;
    text-align: right;
    padding: 0 15px 0 0;
    color: var(--grey-color-1)
}

/* comments */

.comment-text {
  margin: 1rem;
}

.add-comment-cont {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 5px solid var(--grey-color-0);
  }

  .post-cont {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid var(--grey-color-0);
    padding: 15px;
  }

  .add-comment-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .start-comment-area {
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    border: 1px solid var(--primary-color);
    background-color: var(--background-comp-color);
    border-radius: 22px;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    text-align: start;
  }

  .comment-button {
    max-width: fit-content;
  }

  .comment-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
  }

  .comment-info-cont {
    width: 100%;
    border-bottom: none;
    gap: 1rem;
    align-items: center;
  }

  .comment-user-info {
    background-color: var(--grey-color-0);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    width: 90%;
  }

  .comment-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1rem;
}

  @keyframes changeColor {
    0% {
      background-color: var(--grey-color-1);
    }
    100% {
      background-color: var(--background-comp-color);
    }
  }
