.home-feed-main-cont {
    padding: 8px;
    min-height: 220px;
}

.home-feed-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-feed-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-feed-right-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.home-feed-chat-bubble {
    position: absolute;
    height: 180px;
    width: 360px;
    left: 90px;
    top: 5px;
}

.home-feed-right-top>p {
    width: 260px;
}

.profile-feed-info-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.profile-feed-info-cont>p {
    font-size: .75rem;
}

.profile-feed-name {
    font-weight: bold;
    border-right: 2px solid var(--primary-color);
    padding-right: 5px
}

.profile-feed-tagline {
    border-right: 2px solid var(--primary-color);
    padding-right: 5px
}

.home-feed-comment-conts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-comment-cont {
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 2px solid var(--grey-color-0);
    height: 3rem;
}

.user-comment-cont>textarea {
    width: 320px;
    padding-left:1rem;
    border-radius: 2rem 0 0 2rem;
    border: 2px solid var(--primary-color);
    border-right: none;
    height: 100%;
}


.heckle-button {
    border: 2px solid var(--primary-color);
    background-color: white;
    font-weight: bold;
    color: var(--secondary-color);
    height: 100%;
    border-radius: 0 2rem 2rem 0;
    cursor: pointer;
}

.heckle-button:hover {
    background-color: var(--primary-color);
    color: white;
}