/* Styles Shared Across Components. Alphabetical order. */

:root {
  --primary-color: #B18742;
  --primary-light-color: #635B6C;
  --secondary-color: #333738;
  --background-color: #B4B5BE;
  --background-comp-color: #ffffff;
  --button-hover-color: #d3d3d3;
  --grey-color-0: #f3f3f3;
  --grey-color-1: #919191;
  --grey-color-2: #404040;
  --error-color: #ff2020;
}