:root {
  --primary-color: #B18742;
  --primary-light-color: #635B6C;
  --secondary-color: #333738;
  --background-color: #B4B5BE;
  --background-comp-color: #ffffff;
  --button-hover-color: #d3d3d3;
  --grey-color-0: #dddddd;
  --grey-color-1: #919191;
  --grey-color-2: #404040;
  --error-color: #ff2020;
}

* {
  box-sizing: border-box;
}

/* components */
.comp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-comp-color);
  border: 1px solid var(--grey-color-0);
  border-radius: 9px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),
              0 2px 1px -1px rgba(0,0,0,0.12),
              0 1px 3px 0 rgba(0,0,0,0.2);
}

.page-cont {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.editable-comp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* buttons */

.edit-profile-cancel-button {
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-color: white;
  fill: var(--primary-color);
  border-radius: 50%;
}

.edit-profile-cancel-button:hover {
  background-color: var(--primary-color);
  fill: white;
}

.close-button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px !important;
}

.primary-button {
  display: flex;
  border-radius: 124px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--background-comp-color);
  width: fit-content;
  text-align: center;
  align-content: center;
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.primary-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.secondary-button {
  display: flex;
  border-radius: 124px;
  border: 2px solid white;
  color: white;
  background-color: var(--primary-light-color);
  width: fit-content;
  text-align: center;
  align-content: center;
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.profile-section-header-button {
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 50%;
    fill: white;
}

.profile-section-header-button:hover {
  cursor: pointer;
  background-color:var(--primary-color);
}

.profile-section-body-button {
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-section-body-button:hover{
  background-color: var(--primary-color);
  fill: white;
}

.profile-overlay-header-button{
  height: 40px;
  width: 40px;
  padding: 1px;
  fill: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-overlay-header-button:hover {
  background-color: var(--primary-color);
}

.hidden-btn {
  background-color: inherit;
  border: none;
}


/* profile card */
.profile-info-cont {
  display: flex;
  gap: 0.25rem;
}

.profile-text-info-cont>p {
  margin: 0;
}

.profile-name {
  font-weight: 700;
}

.profile-tag {
  color: var(--grey-color-1);
  font-size: 0.8rem;
}

.profile-text-info-cont>button {
  margin-top: 0.25rem;
}


/* pictures */

.profile-picture-small {
  border-radius: 124px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.profile-picture-medium {
  border-radius: 124px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.profile-picture-large {
  border-radius: 124px;
  height: 120px;
  width: 120px;
  cursor: pointer;
}


/* global styles */
h2 {
  font-size: 1.1rem;
  text-align: start;
  margin: 0.25rem 0;
}

/* Profile Page */
.expanded-profile-overlay-cont {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px grey;
  background-color: var(--grey-color-2);
  opacity: 90%;
  width: 100vw;
}

.expanded-profile-overlay {
  background-color: white;
  opacity: 100%;
  position: fixed;
  top: 10%;
  left: 12%;
  z-index: 2;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;

}

.expanded-profile-overlay-overflow {
  background-color: white;
  opacity: 100%;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 12%;
  z-index: 2;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  gap: 1rem;
  padding: 1rem 10px 10px 10px;
  overflow-y: scroll;

}

.expanded-profile-overlay-header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-light-color);
  color: white;
  width: 100%;
  align-items: center;
  border-bottom: solid 2px var(--grey-color-1);
  border-radius: 8px 8px 0 0;
  padding: 0 15px 0 15px;
  font-weight: bold;
}

.expanded-profile-overlay-header-title {
  font-size: 1.5rem;
}

.expanded-profile-overlay-submit {
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: var(--primary-light-color);
  border-radius: 0 0 8px 8px;
  margin-top: 1rem;
  padding: 0.5rem;
  border-top: 2px solid var(--secondary-color);
}